<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond Games: Info</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MysteryGame/style.css' %}">
</head>
<body>


<div id="title-banner">
    <a href="{% url 'MysteryGame:index' %}">
        <div id="logo-section"> </div>
    </a>
        <div id="name-section">
            <h1> DIAMOND GAMES</h1>
            <h4> Games for friends</h4>
        </div>
    </div>
    <div id="main-section" class="long-text">
        <h2> About This Site</h2>
        <p> The goal of this site is to help you run and play murder mystery games with your friends.</p>

        <h2> Frequently Asked Questions</h2>
        <ul>
            <li> Q: Is any of my private information stored when I use this site? <br>
            A: Nope! All when you play or host a game with our site, none of your information is stored.</li>
            <br>
            <li> Q: Do I have to pay? <br>
            A: Nope! All of our games (currently one) are free.</li>
        </ul>






    </div>



</body>
</html>