<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond Games: The Big Reveal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'MysteryGame/style.css' %}">
</head>
<body>
<div id="title-banner">
    <a href="{% url 'MysteryGame:index' %}">
        <div id="logo-section"> </div>
    </a>
        <div id="name-section">
            <h1> DIAMOND GAMES</h1>
            <h4> Games for friends</h4>
        </div>
    </div>
    <div id="main-section" class="long-text">
        <h2> A Confession</h2>
        <p> After hours of arguing and accusations among the ship's passengers, finally George cracks and starts to confess: </p>
        <div class="character-bio">
           <p>"I didn't mean to do it, it was self-defense."</p>
            <p>"At around 2:30am I tried to talk to Rick about how I was planning to leave the band and go solo, but he just started getting angry and accused me of sleeping with his girlfriend. It got a bit heated, so I left after we started yelling."</p>
            <p>"Two hours later I bumped into him again in the pool room, and he started getting angry again, accusing me of 'trying to steal credit for his genius and steal his girlfiend'. I started yelling back, so he pushed me up against the bookcase. I grabbed an award statue from the shelf and hit him across the head in self-defence." </p>
            <p>"I hit him a few more times before I realised what I had done. I quickly threw the trophy off the edge of the boat, and snuck to bed with a bottle of wine to cover up my guilt."</p>
            <p>"I didn't mean to kill it, but I did enjoy it" </p>
        </div>
            <h2> Other Mysteries</h2>
            <p> Who uncovered the following mysteries?</p>
            <ul>
                <li>Who broke the pool room window? </li>
                <li>Which passengers have been having an affair? </li>
                <li>Who did the pregnancy test belong to? </li>
                <li>Who was trying to hide their drinking habit? </li>
                <li>Who was trying to hide their smoking habit? </li>
                <li>Who was trying to hide that they were secretly sober the whole time? </li>

            </ul>








    </div>
</body>
</html>